@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto+Condensed:wght@300&display=swap');

body {
    background-color: #101521;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover, a:focus {
    color: rgb(255, 255, 255);
    text-decoration: mone;
    outline: 0;
}


/** Header start **/

.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-align: right;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(105, 105, 105);
}

.navbar-brand {
    color: #101521;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-block: 15px;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Rammetto One', cursive;
}
.navbar {
    background-color: #101521a2;
}

.collapse {
    margin-left: 360px;
}

.parallax-header {
    background: #000;
    background: linear-gradient(
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.8)
        ),
        url(/img/photoheader.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-home {
    width: 100%;
    height: 100vh;
    background-image: url(/img/photoheader.png);
    background-size: cover;
    position: relative;
    mix-blend-mode: lighten;
}

.main-desc {
    padding-top: 89px;
}

.nav-title {
    font-size: 60px;
    margin-bottom: 10px;
    letter-spacing: 0.17em;
    font-family: 'Rammetto One', cursive;
}

.nav-title_subtitle {
    line-height: 28px;
    margin-bottom: 25px;
    max-width: 400px;
    font-size: 14px;
}
/** Header and **/

/** Section one start **/

.nav-title-title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.125em;
}

.img-fluid_one {
    max-width: 300px;
    margin-bottom: 80px;
    margin-top: 80px;
}


.img-fluid_two {
    height: 370px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.nav-text_one {
    font-size: 18px;
    line-height: 144.5%;
    text-align: center;
    letter-spacing: 0.1em;
    max-width: 360px;
    margin-top: 70px;
}

.nav-text_two {
    font-size: 18px;
    line-height: 144.5%;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 150px;
    max-width: 500px;
}


.img-absolute {
    left: 0;
}

.text-absolute {
    text-align: -webkit-center;
}

.photo-item-text {
    height: 100px;
    width: 100px;
    background-image: url("../img/backgroundtext.jpg");
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.photo-item-text p {
    margin: 0;
}


.col {
    margin-bottom: 30px;
    text-align: -webkit-center;
}



/** Section one end **/


/** Section two start **/


.parallax-uk {
    background: #000;
    background: linear-gradient(
            rgba(0, 0, 0, 0.911),
            rgba(0, 0, 0, 0.863)
        ),
        url(/img/manuk.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    margin-top: 90px;
}

.title-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}


.title-text {
    text-align: center;
    margin-bottom: 50px;
}

.photo-text {
    width: 300px;
    height: 150px;
    background-image: url("../img/backgroundtext.jpg");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-title {
    height: 130px;
    width: 250px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.705),
         rgba(0, 0, 0, 0.74)), 
        url(../img/system.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.info-text {
    text-align: center;
    max-width: 700px;
}


/** Section two end **/


/** Section accordion start **/



.accordion-item {
    margin-bottom: 45px;
    margin-top: 40px;
}

.info-more .accordion-item {
    background: linear-gradient(
        rgba(0, 0, 0, 0.76), 
        rgba(0, 0, 0, .5)), 
        url(../img/luxfon.jpg);
}

.info-more .accordion-button {
    background: linear-gradient(
        rgba(255, 0, 0, 0.233),
        rgba(0, 0, 0, .5)), 
        url(../img/luxfon.jpg);
    color: #ffffff;
}

.info-more .collapse {
    margin: 0;
    padding: 10px;

}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/** Section accordion end **/

/** Section three start **/

.title-rules {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;
}

.text-rules {
    height: 160px;
    width: 320px;
    background-image: url("../img/fon.jpg");
    border-radius: 39px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.text-rul {
    padding: 20px;
}

/** Section three end **/

/** foter start **/

.footer {
    margin-top: 50px;
    padding: 50px 0;
    background: #100E24;
}

.footer-menu {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.footer-left {
    padding: 30px;
}

.footer-title {
    align-items: center;
    padding: 30px;
}


/** foter end **/


